.back-img{
    background-color: #f0fff0;
}
.main-part{
    padding-top: 50px;
    padding-bottom: 60px;
}
.main-img{
    width: 520px;
}
.logo{
    width: 200px;
}
.nav-item{
    margin: 15px 20px;
    font-size: large;
    font-weight: 500;
}
.nav-link{
    color: black !important;
}
.sign-btn{
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    margin-left: 20px;
    color: white;
    background-color: #21b573;
}
.sign-btn:hover{
    background-color: #2edb8d;
}
.get-btn{
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    margin-top: 20px;
    color: white;
    background-color: #21b573;
}
.get-btn:hover{
    background-color: #2edb8d;
}
.banner-title{
    font-size: 50px;
    font-weight: bolder;
}
.smtext-color{
    color: #fd511a;
    font-weight: 550;
}
.text-color{
    color: #21b573;
}
.second-sec{
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-size{
    width: 70px;
    margin: auto;
    padding-top: 50px;
}
.card-deco{
    height: 250px;
    border: none;
    border-radius: 20px;
    background-color: #f0fff0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.card-deco:hover{
    background-color: white;
    box-shadow: 3px 3px 10px 6px lightgray;
}
.title{
    color: #413960;
    font-weight: 600;
    text-align: center;
}
.card-text{
    color: #413960;
    font-size: large;
    font-weight: 600;
    text-align: center;
}
.online-deco{
    color: #413960;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 20px;
}
.courses-card{
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 6px lightgray;
}
.on-title{
    color: #413960;
    font-weight: 650;
}
.card-body h5{
    color: #413960;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    border-top: none;
    background-color: white;
}
.card-footer h5{
    font-weight: 600;
    font-size: large;
    color: rgb(73, 73, 73);
}
.third-sec{
    margin-bottom: 50px;
}
.card-img-top{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.test-text{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.man-photo{
    width: 300px;
    margin-right: 50px;
}
.testimonial-area{
    height: 200px;
    width: 800px;    
}
.testimonial-area p{
    font-size: 18px;
    font-weight: 550;
}
.others-sec{
    margin-top: 50px;
    margin-bottom: 100px;
}
footer{
    background-color: #282531;
}
.footer-area{
    padding-top: 50px;
}
.row p, h4, h5{
    color: white;
}
.row h4{
    font-weight: bolder;
}
.copyright-text{
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.search-btn{
    border: none;
    color: white;
    background-color:#282531 ;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 50px;
    padding: 0px 15px;
}
.search-area{
    border: 1px solid #282531;
    border-radius: 5px;
    margin-bottom: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}